:root{
  --bg-color-0: #242738;
  --bg-color-1: #31354b;
  --bg-color-2: #44495f;
  --bg-color-3: #4c526f;

  --color-1: #aab1b9;

  --border-color: #fff;

  --active-color-bg: #1890ff;
  --active-color: #fff;
}
